<div class="breadcrumb">
    <div class="breadcrumb__inner">
        <nav class="breadcrumb__menu">
            <ul>
                <li><a href="/ko/index.html" class="btn btn-home">main page</a></li>
                <li class="breadcrumb__depth1 custom-select">
                    <button type="button"><% const depth1Menu = menuLists.menus[depth1]; %> <%= depth1Menu ? depth1Menu.title : depth1 %></button>
                    <ul class="breadcrumb__submenu">
                        <% Object.entries(menuLists.menus).forEach(([key, menu]) => { %>
                        <li class="<%= key === depth1 ? 'active' : '' %>">
                            <a href="<%= menu.url %>"><%= menu.title %></a>
                        </li>
                        <% }) %>
                    </ul>
                </li>
                <li class="breadcrumb__depth2 custom-select">
                    <button type="button"><% const subMenuItem = depth1Menu && depth1Menu.depth2 ? Object.values(depth1Menu.depth2).find(item => item.url.includes(pageName)) : null; %> <%= subMenuItem ? subMenuItem.title : pageName %></button>
                    <ul class="breadcrumb__submenu">
                        <% if (depth1Menu && depth1Menu.depth2) { %> <% Object.values(depth1Menu.depth2).forEach(subMenuItem => { %>
                        <li class="<%= subMenuItem && subMenuItem.url.includes(pageName) ? 'active' : '' %>">
                            <a href="<%= subMenuItem.url %>"><%= subMenuItem.title %></a>
                        </li>
                        <% }) %> <% } %>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>
