<header class="header">
    <div class="header__inner">
        <h1 class="header__logo">
            <a href="/ko/index.html">
                <img src="/resources/assets/images/common/logo.png" alt="LOGO" />
            </a>
        </h1>
        <nav id="gnb" class="gnb">
            <ul>
                <% Object.entries(menuLists.menus).forEach(([key, menuItem]) => { %>
                <li class="depth1 <%= depth1 === key ? 'active' : '' %>">
                    <a href="<%= menuItem.url %>"><%= menuItem.title %></a>
                    <% if (menuItem.depth2) { %>
                    <ul class="depth2">
                        <% Object.entries(menuItem.depth2).forEach(([subKey, subMenuItem]) => { %>
                        <li class="<%= pageName === subKey ? 'active' : '' %>">
                            <a href="<%= subMenuItem.url %>"><%= subMenuItem.title %></a>
                        </li>
                        <% }) %>
                    </ul>
                    <% } %>
                </li>
                <% }) %>
            </ul>
        </nav>
        <div class="header__right">
            <div class="user">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="all-menu">
                <button type="button" class="btn btn-allmenu">
                    <span class="btn-allmenu__middle">전체메뉴 라인</span>
                    전체 메뉴
                </button>
            </div>
        </div>
    </div>
</header>
