<header class="header <%= typeof headerType !== 'undefined' ? headerType : '' %>">
    <div class="header__inner">
        <h1 class="header__logo">
            <a href="/ko/index.html">
                <img src="/resources/assets/images/common/logo.svg" alt="LOGO" />
            </a>
        </h1>
        <nav id="gnb" class="gnb">
            <ul>
                <% Object.entries(menuLists.menus).forEach(([key, menuItem]) => { %>
                <li class="gnb__depth1 <%= depth1 === key ? 'active' : '' %>">
                    <a href="<%= menuItem.url %>"><%= menuItem.title %></a>
                    <% if (menuItem.depth2) { %>
                    <ul class="gnb__depth2">
                        <% Object.entries(menuItem.depth2).forEach(([subKey, subMenuItem]) => { %>
                        <li class="<%= pageName === subKey ? 'active' : '' %>">
                            <a href="<%= subMenuItem.url %>"><%= subMenuItem.title %></a>
                        </li>
                        <% }) %>
                    </ul>
                    <% } %>
                </li>
                <% }) %>
            </ul>
        </nav>
        <div class="header__right">
            <div class="user">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="allmenu-btn">
                <button type="button" class="btn btn-allmenu">
                    <span class="btn-allmenu__middle">전체메뉴 라인</span>
                    전체 메뉴
                </button>
            </div>
        </div>
    </div>
    <div class="all-menu">
        <div class="all-menu__header">
            <button type="button" class="all-menu__close"></button>
        </div>
        <ul>
            <% Object.entries(menuLists.menus).forEach(([key, menuItem]) => { %>
            <li class="all-menu__depth1 <%= depth1 === key ? 'active' : '' %>">
                <a href="<%= menuItem.url %>"><%= menuItem.title %></a>
                <% if (menuItem.depth2) { %>
                <ul class="all-menu__depth2">
                    <% Object.entries(menuItem.depth2).forEach(([subKey, subMenuItem]) => { %>
                    <li class="<%= pageName === subKey ? 'active' : '' %>">
                        <a href="<%= subMenuItem.url %>"><%= subMenuItem.title %></a>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
            </li>
            <% }) %>
        </ul>
    </div>
</header>
